/*This defines the Style for the Navigation Bar links*/
.navbar {
    border-bottom: 1px solid #5A5A5A;
}

.navbar .nav > li {
    font-size: 14px;
    display: inline;
}

.navbar .nav > li > a {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline;
}

.navbar .brand {
    color: #ccc;
    margin-left: 20px; /* was 132 */
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Droid Serif", serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fcf0e4; /* To fix the white space between Jumbotron and the about panel */
}

/*New CSS Additions */

/*This is for the jumbotron below the nav bar*/
.jumbotron {
    margin: 0;
    padding-top: 30px;
    height:100%; /* IE6: treated as min-height COMMENT MIGHT BE REVERSED */
    min-height:100%; /* real browsers */
    min-width: 100%;
    //background: url('http://static1.squarespace.com/static/5568cd6fe4b00dd8212bc2e7/t/556901efe4b07fdae6e25fb5/1432945323605/chairs_and_table.jpeg?format=2500w');
    background: url('../img/laos.jpg');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    display: inline-block;
    text-align: center;

    }

.jumbotron .container {
    padding-top: 30px;
    overflow: hidden;
    background: rgba(32,26,22,.7);
    filter: blur(5px);
    min-height: 107%;
    min-width: 100%; 
    text-align: center;
}

.jumbotron .container .text-box {
    margin-top: 10%; /* This is how I centered the text */
    display: inline-block;
    vertical-align: middle;
}

/*When I did not Specify to container the text did not change*/
.jumbotron .container .text-box h1 {
    font-size: 100px;
    margin: 40px 0 0px;
    text-align: center;
    font-weight: 100;
    line-height: 120%;
    color: White; /*222*/
    font-family: "futura-pt", sans-serif;
}

.jumbotron .container .text-box h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 200;
    font-family: 'futura-pt', sans-serif;
    color: white;
}


/*This is for the landing page part below the jumo*/
.landing-page {
    padding-top: 30px;
    margin: 0px;
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    vertical-align: top;
    text-align: center;
    //position: relative;
    background-color: #fcf0e4;
    /*background-color: red; This is the big block of what I found up top!!!*/
    //background-size: cover; /*change to color below*/
    overflow: auto; /* THIS SOLVED THE COLLAPSE INTO THE PASSION PANEL */
}

.landing-page .container {
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    text-align: center;
    outline: 0;
    background-color: #fcf0e4;
}

.landing-page .container .text-box h1 {
    text-align: center;
    color: #5A5A5A;
    font-size: 60px;
    font-family: "futura-pt", sans-serif;
    font-weight: 200;
    line-height: 120%;
}


.landing-page .container .text-box h2 {
    color: #5A5A5A;
    font-size: 30px;
    text-align: center;
    font-weight: 200;
    font: "futura", serif;
}


.landing-page .container .text-box p {
    color: #5A5A5A;
    font-size: 20px;
    text-align: center;
    /*line-height: 1.5;*/
    color: #5A5A5A;
    font-size: 14px;
    margin-left: 30px;
    font-weight: 100;
    font-family: "Titillium Web", serif;
}


/*Pusheen Related Styling*/
.landing-page .container .pusheen-panel {
    background-color: #fcf0e4;
    outline: 0;
}

.landing-page .container .pusheen-panel h1 {
    text-align: center;
    color: #5A5A5A;
    font-size: 60px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    line-height: 150%;
}

.landing-page .container .pusheen-panel h2 {
    text-align: center;
    color: #5A5A5A;
    font-size: 30px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    line-height: 150%;
}

.landing-page .container .pusheen-panel .thumbnail {
    background-color: #fcf0e4;
    outline: 0;
    border: none; 
/* THIS IS HOW I GET RID OF BORDERS  a not complete this shifted things*/
}

.landing-page .container .pusheen-panel .pusheen-pic {
    /* display: block; */
    width:250px;
    height:200px;
    outline: 100;
    /* max-width, setting width: auto will prevent streching*/ 
}

/* Passion and serious about me styling*/
.passion-panel {
    margin: 0px;
    padding-top: 30px;
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    vertical-align: top;
    background-color: #C6D8EE;
    overflow: auto;
}

.passion-panel .container {
    /*Adding Spacing up top for 100 view shifted all of this down*/
    /* TABLE CENTERS AS OPPOSED TO INLINE BLOCK*/
    height: 100%;
    min-height: 100%;
    text-align: center;
    display: table;
    //vertical-align: middle;
    background: rgb(0, 0, 0, 0);
}

.passion-panel .img-circle {
    width: 240px;
    height: 240px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    /*background: url(http://link-to-your/image.jpg) no-repeat;*/
    /*This is to add shadowing*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


/* Modal Controls are here*/
#myModal {
    border-radius: 25px; 
}

.modal-body
{
    border-radius: 25px;
    background: rgba(32,26,22,.1);
    font-color: white;
    border: none;
}

.modal-content
{
    border-radius: 25px;
    background: rgba(32,26,22,.1);
    border: none;
}

.modal-footer
{
    background: rgba(32,26,22,.1);
    border: none;
}

.modal-header
{
    background: rgba(32,26,22,.1);
    border: none;
    border-bottom: 3px solid #ff0000;
}


/*Passion Panel*/
.passion-panel h1 {
    text-align: center;
    color: #5A5A5A;
    font-size: 60px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 100;
    line-height: 150%;
}

.passion-panel h2 {
    text-align: center;
    font-weight: 100;
    //margin-bottom: 5px;
    font-family: "Titillium Web", sans-serif;
    color: #5A5A5A;
}

.passion-panel p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #5A5A5A;
}

/* CSS Styling for my Projects */
.project-panel {
    margin: 0px;
    padding-top: 30px;
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    vertical-align: top;
    /*padding: 30px 0 0 0; /*I need to pad it properly to allow scrolling to happen */ 
    /*MARGIN TOP IS WHAT IS CAUSING THE WHTIE SPACE AHH*/
    //background: #000 url('http://static1.squarespace.com/static/5568cd6fe4b00dd8212bc2e7/t/556901efe4b07fdae6e25fb5/1432945323605/chairs_and_table.jpeg?format=2500w');
    background: #C2EEE9;
    background-size: cover;
    overflow: auto;
}

.project-panel .container {
    //background: rgba(32,26,22,.7);
    filter: blur(5px);
    min-height: 100%;
    min-width: 100%;
}

.project-panel h1 {
    text-align: center;
    color: #5A5a5a;
    font-size: 60px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    line-height: 150%;
    margin-bottom: -10px;
}

.project-panel h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 0;
    font-size: 25px;
    font: "Titillium Web", sans-serif;
    color: #5A5A5A;
}

.project-panel p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    //color: #000;
}

.project-panel .row-fluid {
    margin-top: 30px; /* This pushes down well from the text */
    border-radius: 25px;
}

.project-panel .project-thumb {
   position: relative; 
   width: 100%; /* for IE 6 */
   height: 25%;
}

.project-panel .project-name {
    background-color: #000;
    width: 100%;
    height: 20%;
}

.project-panel .project-name p {
    color: white;
    text-align: center;
    //margin-top: 13px; /* The caused the space between picture and text */
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
}

.project-panel .text-box {
    padding: 20px;
    height: 100%
    text-align: center;
    background-color: #282224;
}

.project-panel .text-box p {
    top: 30%;
    color: white;
    font-size: 16px;
}

/*This maps to all 3 split caption elements*/
#split-caption1 {
    top: 30%;
    text-align: center;
    background-color: blue;
}

#split-caption1 p {
    font-color:red;
    font-size: 20px;
}


/*Final Panel Styling*/
.final-panel {
    padding-top: 50px;
    margin: 0px;
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    background-color: #C7D0D5;
    text-align: center;
}

.final-panel .container {
    vertical-align: middle;
    background-color: #C7D0D5;
    position: relative; /*Code here to keep vert centered box */
    top: 30%;
    text-align: center;
}

/* .final-panel .connect-panel .social-buttons instead of what is bellow shifted everything to the right*/
.final-panel .connect-panel {
    vertical-align: middle;
    text-align: center;
    display: block; /* This centered the buttons! display as block */
    margin: auto;
    position: relative;
}

.final-panel h1 {
    text-align: center;
    color: #5A5A5A;
    font-size: 60px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    line-height: 150%;
    margin-bottom: -10px;
}

.final-panel h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 5px;
    font: "Titillium Web", sans-serif;
}

.final-panel p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

